@media screen and (min-width:1180px){
	footer.container{
		@include rem(padding, 38 0);
	}

#intro{
	overflow:hidden;
}

.blurImg {
  //position: relative;
	width:100%;
	text-align: center;
	@include rem(padding, 424 0 70);
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}
.blurImg > div {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.blur {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

}