@media screen and (min-width:1180px){
	footer.container{
		@include rem(padding, 38 0);
	}

/*
#intro {
  //position: relative;
  width:100%;
  text-align: center;
  //@include rem(padding, 424 0 70);
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}
*/

}