@media screen and (min-width:940px){
	#intro{
		@include rem(padding, 424 0 70);
		background: url(../img/banner.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		// filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
		//-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
		.break{
			display: block;
		}

		&.blurred{
			background: url(../img/banner_blur.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}

	a:hover,a:focus,.blk_section a:hover, .blk_section a:focus{
		color:#1c81b3;
	}
	.social_list li a{

		&.twitter:hover{ background:#31aae1;border-color:#31aae1;}
		&.linkedin:hover{ background:#0e689b;border-color:#0e689b;}
		&.facebook:hover{ background:#36589b;border-color:#36589b;}
	}

	footer a:hover{
		color:inherit;
			&.email{
				color:$green;
				text-decoration:underline;
			}
	}
}