@media screen and (min-width:740px){
	#logo{ 
	  left: 0; 
	  right: 0;
	  @include rem(width, 110);
	}
	
	header{
		@include rem(height, 100);
			ul li{
				@include rem(line-height, 100);
			}
	}

	.full_site_notice{
		@include rem(line-height, 100);
		display: inline;
	}

	#intro{
	  background: url(../img/banner_740.jpg) no-repeat top center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	> .background_image {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: top center fixed;

  &.blur_bg{
   opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
   background: url('../img/banner_740_blur.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
}
}

	.menu li+li{
		@include rem(margin-left, 45);
	}

	.column:nth-child(1),.column:nth-child(2),.column:nth-child(3){
		width:33.333%;
	}
}