$dark-blue: #1a364b;
$light-blue: #1c81b3;
$white: #fff;
$grey: #f0f0f0;
$green: #b2d058;

@function parseInt($n) { 
  @return $n / ($n * 0 + 1);
}
@mixin rem($property, $values) {
  $px : (); 
  $rem: (); 
  @each $value in $values { 
    @if $value == 0 or $value == auto { 
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    @else { 
      $unit: unit($value);    
      $val: parseInt($value); 
      $px : append($px,  ($val + px));
      $rem: append($rem, $value /10 + rem);
    }
  }
  #{$property}: $px;  
  #{$property}: $rem; 
}